.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
}

.rodape h2 {
    font-weight: var(--font-weight-primary);
    font-size: var(--font-size-primary);
    color: var(--branco);
}