.container {
  padding: 0 0.5em 1em 0.5em;
  margin-top: 0.5em;
  width: 202px;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.capa {
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
}

.container h2,
.favoritar {
  padding: 0 1em;
}

.favoritar {

  width: 25px;
  height: 25px; 
}

.container__icone_favoritar {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
}

.link {
  text-decoration: none;
  color: var(--preto);
  text-align: left;
}
